.item{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    padding: 5px;
    border: 1px solid black;
    width: 75%;
    margin: auto;
}
.item > p {
    width: 70px;
}